.banner{
  padding-block: 100px;
  background: linear-gradient(180deg, #14014A 30.43%, #6E0A70 130.33%);
  mix-blend-mode: normal;
  &_content{
    grid-template-columns: 1fr 35%;
    &-caption{
      order: -1;
    }
    &-title{
      color: $white;
    }
    &-btn{
      margin-top: 40px;
      font-size: 18px;
      font-weight: 600;
    }
  }
}