.footer{
  // padding: 60px 0 90px;
  &-bg{
    position: relative;
    padding: 120px 0 90px;
    margin-top: 200px;
    background: url("../../../src/assets/images/footer-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  a{
    text-transform: capitalize;
  }
  &_top{
    padding-bottom: 80px;
    grid-template-columns: 1fr 40%;
    align-items: flex-start;
    &-links{
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
    }
    &-form{
      h6{
        margin-bottom: 8px;
      }
    }
    .form-input{
      min-width: 305;
    }
    .form-control{
      margin-top: 30px;
    }
  }
  &_bottom{
    grid-template-columns: 1fr 40%;
    &-first{
      gap: 60px;
    }
    &-last{
      gap: 60px;
    }
  }
}