.header{
  background: $blue;
  box-shadow: $shadow;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  .container-fluid{
    @include flex(flex, wrap, space-between, center, 10px);
  }
  &_nav{
    &-list{
      @include flex(flex, wrap, null, center, 25px);
    }
    &-link{
      font-size: 16px;
      &:hover,.active-link{
        color: $purple-dark;
      }
    }
  }
  &_logo{
    padding-block: 26px;
  }
  &_btn{
    background: #B900C9;
    align-self: stretch;
    display: flex;
    align-items: center;
    padding-inline: 40px;
    padding-bottom: 16px;
    margin-right: -60px;
    font-weight: 600;
    font-size: 16px;
    &:hover{
      background: linear-gradient(90deg, #5E2EDB 0%, #B900C9 100%);
    }
  }
}