.header{
  background: $blue;
  box-shadow: $shadow;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  .container-fluid{
    @include flex(flex, wrap, space-between, center, 10px);
  }
  &_nav{
    &-list{
      @include flex(flex, wrap, null, center, 25px);
    }
    &-link:hover{
      color: $purple-dark;
    }
  }
  &_logo{
    padding-block: 26px;
  }
  &_btn{
    background: #B900C9;
    align-self: stretch;
    display: flex;
    align-items: center;
    padding-inline: 40px;
    padding-bottom: 16px;
    margin-right: -60px;
    &:hover{
      background: $purple;
    }
  }
}