.plateform{
  padding-top: 120px;
  h5{
    margin-bottom: 0;
  }
  &_text{
    margin-bottom: 130px;
  }
  &_card{
    align-items: flex-start;
    &-text{
      order: -1;
    }
    &-list{
      display: flex;
      flex-direction: column;
      gap:35px;
    }
    
    &-item {
      padding-left: 28px;
      &::marker{
        content: '\2713';
      }
    }
  }
}
// .process{
//   padding-top: 180px;
//   &_card{
//     &-list{
//       display: flex;
//       flex-direction: column;
//       gap: 70px;
//     }
//     &-item{
//       display: flex;
//       gap: 30px;
//       h4{
//         margin-bottom: 8px;
//       }
//     }
//     &-count{
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       width: 78px;
//       height: 78px;
//       border-radius: 50%;
//       border:3px solid $purple;
//       font-size: 32px;
//       font-weight: 600;
//     }
//   }
// }
.architectural{
  padding-top: 140px;
  .container{
    background: linear-gradient(360deg, #B900C9 0%, #5C2FDC 100%);
    padding: 70px 60px;
    border-radius: 10px;
  }
  &-title{
    margin-bottom: 75px;
  }
  &_bottom{
    gap: 40px;
    align-items: flex-start;
    h3{
      margin-bottom: 20px;
    }
  }
  &-title{
    text-align: center;
  }
  &_card {
    &:not(:last-child){
      border-right: 1px solid $border;
      padding-right: 40px;
    }
    &-caption{
      margin-top: 32px;
    }
  }
}
.trusted{
  padding-bottom: 55px;
  grid-template-columns: 1fr 45%;
  padding-top: 120px;
  gap: 100px;
  img{
    justify-self: flex-end;
  }
  &-caption{
    order: -1;
    h2{
      margin-bottom: 40px;
    }
    p:not(:last-child){
      margin-bottom: 30px;
    }
  }
}
.advertisement{
  padding-bottom: 100px;
  &-icon{
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
  }
  // &-box{
  //   position: relative;
  // }
  &_caption{
    text-align: center;
    max-width: 927px;
    width: 100%;
    margin-inline: auto;
    h3{
      font-weight: 400;
    }
  }
}
.company{ 
  padding-top: 140px;
  &_text{
    padding-bottom: 110px;
    &-subtitle{
      font-weight: 400;
    }
  }
  &_epm{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 80px;
    h5{
      margin-top: 24px;
    }
    ul{
      justify-content: center;
    }
  }
  &_card{
    text-align: center;
    p{
      margin: 8px 0 22px;
    }
  }
}
.investor{
  margin-top: 130px;
  .container{
    background: linear-gradient(360deg, #B900C9 0%, #5C2FDC 100%);
    padding: 90px 70px;
    border-radius: 10px;
  }
  &-title{
    text-align: center;
    margin-bottom: 50px;
  }
  &_bottom{
    grid-template-columns: repeat(4,1fr);
    gap: 32px;
  }
}
.mission{
  padding-top: 100px;
  h3{
    font-weight: 400;
  }
}