.solution{
  padding-top: 140px;
  &_top{
    margin-bottom: 60px;
  }
  &_bottom{
    gap:50px 140px;
    align-items: stretch;
  }
  &_card{
    border: 1px solid $border;
    border-radius: 6px;
    padding: 35px 50px;
    &-list{
      padding-left: 20px;
    }
    &-item{
      list-style-type: disc;
      padding-left: 10px;
      padding-bottom: 3px;
    }
    h3{
      color: #EA39FF;
      margin-bottom: 15px;
    }
    &-icon{
      display: inline-block;
      margin-bottom: 10px;
    }
  }
}

.card-gradient {
  position: relative;
  background-image: transparent;
  z-index: 1;
  &:hover{
    &::before {
      opacity: 1;
    }
  }
  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: $purple-card-lg;
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
  }
}