.solution{
  padding-top: 110px;
  &_top{
    margin-bottom: 80px;
  }
  &_bottom{
    gap:50px 60px;
    align-items: stretch;
  }
  &_card{
    &-icon{
      height: 60px;
      width: 60px;
      border-radius: 50%;
      margin: 0;
      background: $blue-light;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
    }
    &-list{
      padding-left: 20px;
    }
    &-item{
      list-style-type: disc;
      padding-left: 10px;
      padding-bottom: 3px;
    }
  }
}

.card-gradient {
  position: relative;
  z-index: 1;
  border: 1px solid $border;
  border-radius: 6px;
  padding: 70px 50px;
  h3{
    color: #EA39FF;
    margin-bottom: 15px;
  }
  &:hover{
    border-color: transparent;
    &::before {
      opacity: 1;
    }
  }
  &::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: $purple-card-lg;
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
    border-radius: 6px;
  }
}