/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

a {
  text-decoration: none;
}

/* Remove list styles (bullets/numbers) */
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
  display: block;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
html {
  scroll-behavior: smooth;
}

body {
  color: #D4CAF3;
  font: 500 22px/1.6 "Inter", arial;
  background: #14014B;
}

h1 {
  font: 900 60px/1 "Epilogue", arial;
  letter-spacing: 0.3px;
  color: #E108BE;
  margin-bottom: 18px;
}

h2 {
  font: 900 60px/1.4 "Epilogue", arial;
  background: linear-gradient(270deg, #EE2DFF 0%, #BFAFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 20px;
}

h3 {
  font: 600 32px/1.2 "Inter", arial;
  color: #fff;
}

h4 {
  font: 700 32px/1.2 "Inter", arial;
  color: #fff;
}

h5 {
  font: 600 18px/1.2 "Epilogue", arial;
  color: #fff;
}

h6 {
  font: 600 16px/1.2 "Inter", arial;
  color: #fff;
  margin-bottom: 20px;
}

a {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.container {
  padding-inline: 30px;
  margin-inline: auto;
  max-width: 1400px;
}

.container-fluid {
  padding-inline: 60px;
  margin-inline: auto;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.grid {
  display: grid;
  grid-gap: 60px;
  align-items: center;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.text-purple {
  color: #EA39FF;
  font-weight: 700;
}

.text-white {
  color: #fff;
  font-weight: 700;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.btn {
  display: inline-flex;
  padding: 20px 40px;
  background: linear-gradient(270deg, #B900C9 0%, #5C2FDC 100%);
  border-radius: 6px;
  border: none;
  transition: all 0.5s ease;
}
.btn:hover {
  background: linear-gradient(270deg, #B900C9 0%, #B900C9 100%);
  box-shadow: 0px 0px 50px rgba(243, 103, 255, 0.3);
}
.btn_small {
  padding: 10px 19px;
}

.form-control {
  margin-top: 30px;
}
.form-input {
  background: transparent;
  box-shadow: none;
  border-bottom: 1px solid #986AC5;
  padding-bottom: 10px;
  outline: 0;
}
.form-input-fill {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 3px;
  padding: 14px 15px;
  font-size: 14px;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
  outline: 0;
}

.header {
  background: #160054;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 2;
  position: sticky;
  left: 0;
  top: 0;
}
.header .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.header_nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 45px;
}
.header_nav-link {
  font-size: 18px;
  font-weight: 700;
}
.header_nav-link:hover, .header_nav-link .active-link {
  color: #B900C9;
}
.header_logo {
  padding-block: 29px;
}
.header_btn {
  background: #B900C9;
  align-self: stretch;
  align-items: center;
  padding-inline: 40px;
  margin-right: -60px;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.header_btn:hover {
  background: linear-gradient(90deg, #5E2EDB 0%, #B900C9 100%);
}
.header_btn:hover .header_btn-arrow {
  transform: translateX(0);
  opacity: 1;
}
.header_btn:hover .header_btn-text {
  transform: translateX(-10px);
}
.header_btn-text {
  transition: all 0.3s ease;
}
.header_btn-arrow {
  margin-left: 25px;
  transform: translateX(-40px);
  opacity: 0;
  transition: all 0.3s ease;
}

.ityped {
  min-height: 70px;
}

.banner {
  padding-block: 100px;
  background: linear-gradient(180deg, #14014A 30.43%, #6E0A70 130.33%);
  mix-blend-mode: normal;
}
.banner_content {
  grid-template-columns: 1fr 35%;
}
.banner_content-caption {
  order: -1;
}
.banner_content-title {
  color: #fff;
}
.banner_content-btn {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 600;
}

.solution {
  padding-top: 110px;
}
.solution_top {
  margin-bottom: 80px;
}
.solution_bottom {
  gap: 50px 60px;
  align-items: stretch;
}
.solution_card-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0;
  background: #14014B;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.solution_card-list {
  padding-left: 20px;
}
.solution_card-item {
  list-style-type: disc;
  padding-left: 10px;
  padding-bottom: 3px;
}

.card-gradient {
  position: relative;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  padding: 70px 50px;
}
.card-gradient h3 {
  color: #EA39FF;
  margin-bottom: 15px;
}
.card-gradient:hover {
  border-color: transparent;
}
.card-gradient:hover::before {
  opacity: 1;
}
.card-gradient::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(360deg, #72057B -40.23%, #1F0171 79.55%);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
  border-radius: 6px;
}

.plateform {
  padding-top: 150px;
}
.plateform h5 {
  margin-bottom: 0;
}
.plateform_text {
  margin-bottom: 85px;
}
.plateform_card {
  align-items: flex-start;
}
.plateform_card-text {
  order: -1;
}
.plateform_card-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.plateform_card-item {
  padding-left: 28px;
}
.plateform_card-item::marker {
  content: url("../../../src/assets/images/checked.png");
}

.architectural {
  padding-top: 140px;
}
.architectural .container {
  background: linear-gradient(360deg, #B900C9 0%, #5C2FDC 100%);
  padding: 70px 60px;
  border-radius: 10px;
}
.architectural-title {
  margin-bottom: 67px;
  font-weight: 700;
}
.architectural_bottom {
  gap: 40px;
  align-items: flex-start;
}
.architectural_bottom h3 {
  margin-bottom: 20px;
}
.architectural-title {
  text-align: center;
}
.architectural_card:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding-right: 40px;
}
.architectural_card-caption {
  margin-top: 32px;
}

.trusted {
  padding-top: 200px;
}
.trusted-inner {
  padding-bottom: 55px;
}
.trusted_text-subtitle {
  margin-bottom: 60px;
}
.trusted img {
  justify-self: flex-end;
}
.trusted_card-dis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: all 0.5s ease;
}
.trusted-caption {
  order: -1;
}
.trusted-caption h2 {
  margin-bottom: 40px;
}
.trusted-caption p:not(:last-child) {
  margin-bottom: 30px;
}

.advertisement {
  padding-bottom: 120px;
}
.advertisement-icon {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}
.advertisement_caption {
  text-align: center;
  max-width: 927px;
  width: 100%;
  margin-inline: auto;
}
.advertisement_caption h3 {
  font-weight: 400;
}

.company {
  text-align: center;
  padding-top: 120px;
}
.company-title {
  margin-bottom: 60px;
}
.company-section {
  padding-top: 120px;
}
.company_text-subtitle {
  font-weight: 400;
}
.company_epm {
  display: flex;
  gap: 80px;
  justify-content: center;
}
.company_epm h5 {
  margin-top: 24px;
}
.company_epm ul {
  justify-content: center;
}
.company_card {
  text-align: center;
  flex: 0 1 19%;
}
.company_card img {
  border-radius: 50%;
}
.company_card p {
  font-weight: 400;
  margin: 8px 0 22px;
}

.investor {
  margin-top: 130px;
}
.investor .container {
  background: linear-gradient(360deg, #B900C9 0%, #5C2FDC 100%);
  padding: 90px 70px;
  border-radius: 10px;
}
.investor img {
  transition: all 0.5s ease;
  transform: translateY(0);
}
.investor img:hover {
  transform: translateY(-10px);
}
.investor-title {
  text-align: center;
  margin-bottom: 50px;
}
.investor_bottom {
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.mission {
  padding-top: 100px;
}
.mission h3 {
  font-family: "Epilogue", arial;
}
.mission-title {
  position: relative;
  padding-top: 140px;
  display: flex;
  justify-content: center;
  font-style: italic;
}
.mission-name {
  padding-top: 20px;
  color: #EA39FF;
}
.mission-blockquote {
  font-size: 300px;
  display: block;
  position: absolute;
  top: 0;
  font-family: "Epilogue", arial;
}

.testimonial {
  padding: 200px 0 220px;
  background: url("../../../src/assets/images/ai-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.testimonial h3 {
  display: block;
  max-width: 900px;
  text-align: left;
}

.footer-bg {
  position: relative;
  padding: 115px 0 58px;
  margin-top: 190px;
  background: linear-gradient(90deg, rgba(150, 37, 152, 0.4) 0%, rgba(20, 1, 74, 0.4) 100%);
}
.footer_title {
  margin-bottom: 25px;
}
.footer a {
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 500;
}
.footer a:hover {
  color: #B900C9;
}
.footer_top {
  padding-bottom: 80px;
  grid-template-columns: 1fr 40%;
  align-items: flex-start;
}
.footer_top p {
  font-size: 17px;
}
.footer_top-links {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;
}
.footer_top-form h6 {
  margin-bottom: 8px;
}
.footer_top .form-input-fill {
  width: 70%;
}
.footer_top .form-control {
  margin-top: 30px;
}
.footer_top .btn {
  min-width: 120px;
  justify-content: center;
}
.footer_top .btn:hover {
  color: #fff;
}
.footer_bottom {
  grid-template-columns: 1fr 40%;
}
.footer_bottom a, .footer_bottom p {
  font-size: 17px;
  font-weight: 400;
}
.footer_bottom-first {
  gap: 60px;
}
.footer_bottom-last {
  gap: 60px;
}
.footer_bottom-last a:hover svg {
  transition: all 0.5s ease;
  fill: #B900C9;
}

.modal {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  display: none;
  place-items: center;
  height: 100vh;
  width: 100%;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px 40px;
}
.modal .close {
  display: inline-block;
  cursor: pointer;
  margin-left: auto;
}
.modal h2 {
  -webkit-text-fill-color: #fff;
}
.modal-body {
  max-height: calc(100vh - 250px);
  overflow: auto;
  padding-inline: 40px;
}
.modal-content {
  max-width: 775px;
  width: 100%;
  background: linear-gradient(360deg, #B900C9 0%, #5C2FDC 100%);
  color: #160054;
  border-radius: 10px;
  padding-bottom: 30px;
}
.modal-content p:not(:last-child) {
  margin-bottom: 20px;
}
.modal h5 {
  color: #160054;
  margin-bottom: 3px;
}

.modal-open {
  overflow: hidden;
}
.modal-open .modal {
  display: grid;
}/*# sourceMappingURL=main.css.map */